* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(233, 196, 106);
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f3f3f3;
}

.boton-jugada {
  background-color: rgb(231, 111, 81);
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.boton-jugada:hover {
  background-color: rgb(98, 149, 132);
}

#resultados {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(98, 149, 132);
  border: 1px rgb(233, 196, 106) solid;
  border-radius: 5px;
  background-color: transparent;
}

.scoreboard {
  margin-top: 20px;
  font-size: 20px;
}